* {
	margin: 0;
	padding: 0;
}

body {
	background: #F0F0F0 none repeat scroll 0 0;
	font-family: Arial, sans-serif;
	font-size: 12px;
	line-height: 1.5em;
	margin-left: 5px;
	margin-right: 5px;
}

#header ul li{
	display: inline;
}

#header ul li a{
	text-decoration: none;
}

.keyValue {
	text-align: justify;
}

.keyValue td{
	padding-left: 5px;
	padding-right: 5px;
}

.destinationAspect {
	border: 1px solid #E1E1E1;
	margin-bottom: 10px;
	padding-bottom: 5px;
}

.destinationAspect h3{
	background: gray;
	color: white;
	padding: 2px;
	margin-bottom: 5px;
	text-align: right;
}

.subscription {
	margin-left: 10px;
	margin-bottom: 20px;
	margin-right: 10px;
}

.subscription h3{
	background: steelblue;
	text-align:	left;
}

.message {
	font-style: italic;
	padding: 2px;	
}

#header{
	margin-bottom: 5px;
}