*.iml
.idea
atlassian-ide-plugin.xml
**/target
.DS_Store
target
.project
.classpath
.settings
**.gitignore

ikasaneip/dashboard/war/src/main/webapp/VAADIN/widgetsets/org.ikasan.dashboard.ui.AppWidgetSet/
ikasaneip/dashboard/war/src/main/webapp/VAADIN/gwt-unitCache/gwt-unitCache-e5070b9c4fbf0d0244bc4158f6bcfd674417fbc9-0000014CAEC9193E
ikasaneip/dashboard/war/src/main/webapp/VAADIN/gwt-unitCache/gwt-unitCache-e5070b9c4fbf0d0244bc4158f6bcfd674417fbc9-0000014CAEC95A88
ikasaneip/dashboard/war/src/main/webapp/VAADIN/gwt-unitCache/gwt-unitCache-e5070b9c4fbf0d0244bc4158f6bcfd674417fbc9-0000014CB1B73448
ikasaneip/dashboard/war/src/main/webapp/VAADIN/gwt-unitCache/gwt-unitCache-e5070b9c4fbf0d0244bc4158f6bcfd674417fbc9-0000014CB1B785A6
ikasaneip/dashboard/war/src/main/webapp/VAADIN/gwt-unitCache/gwt-unitCache-e5070b9c4fbf0d0244bc4158f6bcfd674417fbc9-0000014CB25D2524
ikasaneip/dashboard/war/src/main/webapp/VAADIN/gwt-unitCache/gwt-unitCache-e5070b9c4fbf0d0244bc4158f6bcfd674417fbc9-0000014CB25D7DA4
ikasaneip/dashboard/war/src/main/webapp/VAADIN/gwt-unitCache/
ikasaneip/dashboard/docs/~$$ER-diagram.~vsd
ikasaneip/mapping/src/main/resources/mappingConfigurationService-context.xml.BACKUP.11832.xml
ikasaneip/mapping/src/main/resources/mappingConfigurationService-context.xml.BASE.11832.xml
ikasaneip/mapping/src/main/resources/mappingConfigurationService-context.xml.LOCAL.11832.xml
ikasaneip/mapping/src/main/resources/mappingConfigurationService-context.xml.REMOTE.11832.xml
ikasaneip/dashboard/war/src/main/webapp/VAADIN/widgetsets/WEB-INF/deploy/org.ikasan.dashboard.ui.AppWidgetSet/rpcPolicyManifest/manifest.txt
ikasaneip/component/endpoint/utility-endpoint/src/test/resources/data/unit/Trade.txt.cr32
ikasaneip/out
