<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    id="WebApp_ID" version="3.0">
    <display-name>Ikasan Dashboard</display-name>

    <!-- Spring -->
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <listener>
        <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
    </listener>
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:root-context.xml,
            classpath:error-context.xml,
            classpath:profile-context.xml,
             classpath:replay-context.xml,
             classpath:mapping-context.xml,
             classpath:dashboard-context.xml,
             classpath:hospital-context.xml,
             classpath:persistence-setup-context.xml,
             classpath:transaction-context.xml,
             classpath:administration-context.xml,
             classpath:policy-context.xml,
             classpath:service-context.xml,
             classpath:topology-context.xml,
             classpath:monitor-context.xml,
             classpath:notification-context.xml,
             classpath:housekeeping-context.xml,
             classpath:discovery-context.xml,
             classpath:platform-service-conf.xml,
             classpath:ikasan-datasource-conf.xml,
             classpath:serialiser-service-conf.xml,
             classpath:systemevent-service-conf.xml,
             classpath:providers-conf.xml,
             classpath:module-service-conf.xml,
             classpath:scheduler-service-conf.xml,
            classpath:solr-harvesting-context.xml,
            classpath:search-context.xml,
            classpath:control-context.xml
        </param-value>
    </context-param>

    <listener>
        <listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
    </listener>
    <context-param>
        <param-name>log4jConfigLocation</param-name>
        <param-value>/WEB-INF/log4j.xml</param-value>
    </context-param>
    <filter>
        <filter-name>hibernateFilter</filter-name>
        <filter-class>org.ikasan.dashboard.ui.framework.web.AmsOpenSessionInViewFilter</filter-class>
        <init-param>
            <param-name>sessionFactoryBeanName</param-name>
            <param-value>ikasanSessionFactory</param-value>
        </init-param>
        <init-param>
          <param-name>singleSession</param-name>
          <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>flushMode</param-name>
            <param-value>MANUAL</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>hibernateFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- Vaadin servlet -->
    <servlet>
        <servlet-name>Ikasan Dashboard</servlet-name>
        <servlet-class>ru.xpoft.vaadin.SpringVaadinServlet</servlet-class>
        <init-param>
            <param-name>UIProvider</param-name>
            <param-value>org.ikasan.dashboard.ui.DashboardUIProvider</param-value>
        </init-param>
        <init-param>
            <param-name>systemMessagesBeanName</param-name>
            <param-value>DEFAULT</param-value>
        </init-param>
        <init-param>
		    <param-name>widgetset</param-name>
		    <param-value>org.ikasan.dashboard.ui.AppWidgetSet</param-value>
		</init-param>
		<init-param>
	      <param-name>closeIdleSessions</param-name>
	      <param-value>true</param-value>
	    </init-param> 
	    <init-param>
	      <param-name>legacyPropertyToString</param-name>
	      <param-value>true</param-value>
	    </init-param>
        <async-supported>true</async-supported>
    </servlet>
    
    <servlet>
		<servlet-name>jersey-servlet</servlet-name>
		<servlet-class>
			org.glassfish.jersey.servlet.ServletContainer
		</servlet-class>
		<init-param>
			<param-name>jersey.config.server.provider.packages</param-name>
			<param-value>org.ikasan.dashboard.ui.monitor.rest,org.ikasan.dashboard.configurationManagement.rest</param-value>
		</init-param>
		<init-param>
		    <param-name>jersey.config.server.provider.scanning.recursive</param-name>
		    <param-value>false</param-value>
		</init-param>
        <init-param>
			<param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
			<param-value>true</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
 
	<servlet-mapping>
		<servlet-name>jersey-servlet</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>Ikasan Dashboard</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Ikasan Dashboard</servlet-name>
        <url-pattern>/VAADIN/*</url-pattern>
    </servlet-mapping> 
	<servlet-mapping>
		<servlet-name>jersey-servlet</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>

    <context-param>
        <description>Vaadin production mode</description>
        <param-name>productionMode</param-name>
        <param-value>true</param-value>
    </context-param>

    <!-- Static mapping -->
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/static/*</url-pattern>
    </servlet-mapping>

	<context-param>
	  <param-name>heartbeatInterval</param-name>
	  <param-value>300</param-value>
	</context-param>
	
	<context-param>
	    <param-name>resteasy.scan</param-name>
	    <param-value>false</param-value>
	</context-param>
	<context-param>
	    <param-name>resteasy.scan.providers</param-name>
	    <param-value>false</param-value>
	</context-param>
	<context-param>
	    <param-name>resteasy.scan.resources</param-name>
	    <param-value>false</param-value>
	</context-param>

    <session-config>
        <session-timeout>100</session-timeout>
    </session-config>
    
    <listener>
          <listener-class>org.ikasan.dashboard.ui.WebAppStartStopListener</listener-class>
     </listener>

</web-app>