/**
 * ====================================================================
 * Ikasan Enterprise Integration Platform
 *
 * Distributed under the Modified BSD License.
 * Copyright notice: The copyright for this software and a full listing
 * of individual contributors are as shown in the packaged copyright.txt
 * file.
 *
 * All rights reserved.
 *
 * Redistribution and use in source and binary forms, with or without
 * modification, are permitted provided that the following conditions are met:
 *
 *  - Redistributions of source code must retain the above copyright notice,
 *    this list of conditions and the following disclaimer.
 *
 *  - Redistributions in binary form must reproduce the above copyright notice,
 *    this list of conditions and the following disclaimer in the documentation
 *    and/or other materials provided with the distribution.
 *
 *  - Neither the name of the ORGANIZATION nor the names of its contributors may
 *    be used to endorse or promote products derived from this software without
 *    specific prior written permission.
 *
 * THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
 * AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
 * IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
 * DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE
 * FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
 * DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
 * SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER
 * CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY,
 * OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE
 * USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
 * =============================================================================
 */

@charset "utf-8";
/* CSS Document for Ikasan EIP Console */

/* Make everything have 0 padding and 0 margin by default */
*
{
    margin: 0px;
    padding: 0px;
}

/* All links will have their decoration stripped but have a standard Ikasan link color (#3E3E3E) */
a:link, a:visited, a:hover
{
    text-decoration: none;
    color: #3E3E3E;
}

/* 
    TODO Login page related, ideally move this to its own css file, may not be possible with JSP templating
    we currently have
*/
#arrow
{
    float: left;
    padding-right: 20px;
    position: relative;
    width: 42px;
}

/* 
    TODO Login page related, ideally move this to its own css file, may not be possible with JSP templating
    we currently have
*/
.arrowImage
{
    height: 42px;
    width: 42px;
}

#authorities
{
    border-color: #B3B3B3;
    border-style: solid;
    border-width: 1px;
    border-spacing: 0px;
    margin-top: 10px;
}

#backToSearch
{
    float: right;
    color: 
}

#backToSearch a
{
    color: #99141B;
    text-decoration: none;
}


/* Background colour is Ikasan Grey (#EEEEEE) with font colour defaulting to Ikasan dark grey (#E3E3E3) */
body
{
    background-color: #EBEBEB;
    color: #3E3E3E;
    font-family: "Trebuchet MS";
    font-size: 13px;
}

.border
{
    border-color: #3E3E3E;
    border-style: solid;
    border-width: 1px;
    border-spacing: 0px;
}

.button
{
    border-width: 1px;
    border-color: #B3B3B3;
    background-image: url(../images/Btn_BG.png);
    background-repeat: repeat-x;
    background-position: top left;
    height: 20px;
    width: 100px;
}

.checkbox
{
    vertical-align: middle;
}

#checkBoxes table tr td
{
    padding: 20px;
}


/* The overall container div */
#container
{
    clear: both;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
    overflow: auto;
    position: relative;
}

/* The content div */
#content
{
    background-color: #FFFFFF;
    border-color: #B3B3B3;
    border-top-style: solid;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 1px;
    clear: both;
    display: block;
    height: 100%;
    min-height: 375px;
    overflow: auto;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    position: relative;
}

.createUserBox
{
    border-color: #99141B;
    border-style: solid;
    border-width: 1px;
    padding-bottom: 10px;
    padding-top: 10px;
}

#createUserButton
{
    float: left;
    padding-left: 20px;
    padding-top: 10px;
}

.createNewUserImage
{
    height: 55px;
    width: 160px;
}

#downloadButton
{
    height: 20px;
    width: 100px;
}

#flowsRadioButton
{
    padding-right: 18px;
}

.formLabel
{
    font-weight: bold;
    text-align: right;
    vertical-align: top;
}

/* The colour of the h1 heading will be #F29400 (Ikasan Orange) */
h1
{
    color: #F29400;
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 20px;
}

/* The colour of the h2 heading will be #99141B (Ikasan Maroon) */  
h2
{
    color: #99141B;
    font-size: 18px;
    font-weight: bold;
    line-height: 18px;
    margin-top: 18px;
    padding-left: 20px;    
}

/* The colour of the h3 heading will be #99141B (Ikasan Maroon) */  
h3
{
    color: #99141B;
    font-size: 16px;
    font-weight: bold;
}

h4
{
    color: #3E3E3E;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 5px;
}

/* The header section */
#header
{
    background-color: #F9AF56;
    background-image: url(../images/Banner.png);
    background-repeat: no-repeat;
    height: 140px;
    /* margin-top: 20px; */
    position: relative;
}

/* TODO Home page this won't be correct, different height */
.helpIcon
{
    height: 13px;
    width: 13px;
    vertical-align: middle;
    margin-bottom: 3px;
}

/* */
#homeLinksTable
{
    border: none;
}

/* Used in Search Events screen TODO fix this */
.hr
{
    border-color: #B3B3B3;
    clear: both;
    color: #B3B3B3;
}

/* All images will have their borders removed */
img
{
    border: none;
}

.important
{
    color: #99141B;
}

.inputSelect
{
    background-color: #FFFFFF;
    border-style: sold;
    border-width: 1px;
    border-color: #F29400;
    color: #3E3E3E;
    font-family: "Trebuchet MS";
    font-size: 13px;
    width: 168px;
}

.inputText
{
    background-color: #FFFFFF;
    border-style: sold;
    border-width: 1px;
    border-color: #F29400;
    color: #3E3E3E;
    font-family: "Trebuchet MS";
    font-size: 13px;
    width: 165px;
}

.inputTextDate
{
    background-color: #FFFFFF;
    border-style: sold;
    border-width: 1px;
    border-color: #F29400;
    color: #3E3E3E;
    font-family: "Trebuchet MS";
    font-size: 13px;
    margin-right: 9px;  /* Not sure why 9, but it works */
    width: 85px;
}

.inputTextLong
{
    background-color: #FFFFFF;
    border-style: sold;
    border-width: 1px;
    border-color: #F29400;
    color: #3E3E3E;
    font-family: "Trebuchet MS";
    font-size: 13px;
    width: 265px;
}

.inputTextTime
{
    background-color: #FFFFFF;
    border-style: sold;
    border-width: 1px;
    border-color: #F29400;
    color: #3E3E3E;
    font-family: "Trebuchet MS";
    font-size: 13px;
    width: 65px;
}

.largeButton
{
    border-width: 1px;
    border-color: #B3B3B3;
    background-image: url(../images/Btn_BG.png);
    background-repeat: repeat-x;
    background-position: top left;
    height: 20px;
    width: 130px;
}

.leftBorder
{
    border-color: #B3B3B3;
    border-bottom-width: 0px;
    border-left-width: 1px;
    border-right-width: 0px;
    border-top-width: 0px;
    border-left-style: solid;
}

#leftContent
{
    float: left;
    position: relative;
    width: 440px;
}

.listCellLast
{
    padding-left: 5px;
    padding-right: 15px;
    text-align: center;
}

#listTable
{
    border-color: B3B3B3;
    border-width: 1px;
    border-spacing: 0px;
    border-style: solid;
}

#listTable a
{
    text-decoration: none;
    color: #99141B;
}

#loginBox
{
    float: right;
    width: 366px;
    height: 240px;
    border-width: 1px;
    border-style: solid;
    border-color: #99141B;
    padding-left: 15px;
    padding-right: 15px; 
    padding-top: 15px;
    padding-bottom: 15px; 
}

.loginTable
{
    padding-left: 30px;
    width: 366px;
}

/* TODO maybe pad in form instead? */
.loginCell
{
    padding-bottom: 15px;
    padding-right: 15px;
    padding-left: 0px;
}

/* The logo image */
#logo
{
    height: 70px;
    padding-left: 20px;
    padding-top: 17px;
    width: 147px;
}

#mainNavigation
{
    padding-left: 20px;
    float: left;
    position: relative;
}

#mainNavigation a
{
    text-decoration: none;
    color: #FFFFFF;
}

.miniForm
{
    float: left;
}

#minorNavigation
{
    float: right;
    position: relative;
}

#minorNavigation a
{
    text-decoration: none;
    color: #FFFFFF;
}

.moduleDescription
{
    padding-left: 10px;
}

#modulesInFlows
{
    padding-left: 18px;
}

.modulesInFlows a
{
    text-decoration: none;
    color: #99141B;
}

#modulesRadioButton
{
    padding-right: 10px;
}

/* The navigation section background colour matches the default page background colour */
#navigation
{
    /* background-color: #EBEBEB; */
    background-color: #3E3E3E;
    height: 30px;
    line-height: 30px;
    position: relative;
}

/* The large navigation arrow */
.navigationArrow
{
    height: 90px;
    width: 42px;
}

.navigationCell
{
    padding-right: 20px;
}

/* The large navigation text */
.navigationText
{
    width: 120px;
    padding-right: 20px;
    vertical-align: top;
}

/* The large navigation buttons */
.navigationImage
{
    height: 90px;
    width: 120px;
}

ol
{
    list-style: none;
} 

#pagedSearchResults
{
    padding-bottom: 10px;
    padding-top: 10px;
}

#pagedSearchResultsHeader
{
    padding-top: 10px;
}

#pagedSearchResultsNavigation
{
    /* float: right; */
    padding-left: 200px;
}

#pagedSearchResultsNavigation a.active
{
    text-decoration: none;
    color: #99141B;
}

#payloadContentTextArea
{
    border-width: 1px;
    border-style: solid;
    border-color: #B3B3B3;
    width: 800px;
}

.radioButton
{
    vertical-align: middle;
}

.resultsCell
{
    border-color: #B3B3B3;
    border-spacing: 0px;
    border-style: solid;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-right-width: 1px;
    border-top-width: 0px;
    padding-left: 5px;
    padding-right: 15px;
}

.resultsCellLast
{
    padding-left: 5px;
    padding-right: 15px;
}

.resultsHeaderCell
{
    border-color: #B3B3B3;
    border-spacing: 0px;
    border-style: solid;
    border-bottom-width: 1px;
    border-left-width: 0px;
    border-right-width: 1px;
    border-top-width: 0px;
    padding-left: 5px;
    padding-right: 15px;
    text-align: left;
}

.resultsHeaderCellLast
{
    border-color: #B3B3B3;
    border-spacing: 0px;
    border-style: solid;
    border-bottom-width: 1px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;
    padding-left: 5px;
    padding-right: 15px;
    text-align: left;
}

#rightContent
{
    float: right;
    position: relative;
    width: 460px;
}

/* TODO maybe pad in form instead? */
.searchCell
{
    padding-bottom: 8px;
    padding-right: 13px;
    padding-left: 0px;
}

#searchFields
{
    margin-top: 15px;
    margin-left: 25px;
}

.searchFormHeading
{
    color: #99141B;
    float: left;
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 5px;
}

.searchFormHR
{
    background-color: #99141B; 
    border-bottom-width: 1px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;
    border-style: solid;
    border-color: #99141B;
    color: #99141B;
    height: 1px;
}

#searchMode
{
    padding-bottom: 8px;
    padding-top: 8px;
}

#showHideSearchForm
{
    color: #99141B;
}

.smallIcon
{
    height: 12px;
    margin-bottom: 3px;
    vertical-align: middle;
    width: 12px;
}

.smallArrowImage
{
    height: 12px;
    width: 12px;
}

.sortIcon
{
    float: right;
}

.strong
{
    font-weight: bold;
}

.supportCell
{
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #B3B3B3;
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 42px;
}

.supportCell2
{
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #B3B3B3;
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 558px;
}

/* The support buttons */
.supportImage
{
    height: 42px;
    width: 42px;
}

/* The support text */
.supportText
{
    font-size: 18px;
    vertical-align: top;
}

/* */
#supportLinksTable
{
    border-spacing: 0px 0px;
    width: 600px;
}

/* Normal text paragraph */  
.text
{
    margin-bottom: 25px;
}

/* Apply background stripes to all cells with class .alt, however this is manipulated by javascript */
tr.alt td
{
    background-color: #EBEBEB;
}

ul
{
    display: inline;
} 

ul li
{
    /* border-left: 1px solid #999999; */
    border-left: 1px solid #FFFFFF;
    display: inline;
    list-style: none;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
}
    
ul li.first
{
    border-left: none;
    display: inline;
    list-style: none;
    padding-left: 0px;
    padding-right: 10px;
}

ul li.last
{
    /* border-left: 1px solid #999999; */
    border-left: 1px solid #FFFFFF;
    display: inline;
    list-style: none;
    padding-left: 10px;
    padding-right: 10px;
}

.username
{
    color: #FFFFFF;
}

#usersList
{
    clear: both;
    float: left;
    padding-top: 10px;
}

#wiretapSearchResults
{
    border-color: #B3B3B3;
    border-style: solid;
    border-width: 1px;
    border-spacing: 0px;
}

#wiretapSearchResults a
{
    color: #99141B;
    font-weight: bold;
    text-decoration: none;
}

#wiretapNavigation
{
    float: right;
}

#wiretapNavigation a
{
    color: #99141B;
    text-decoration: none;
}

table{
    
    border-collapse:collapse;
}
