html {
    --material-primary-color-10pct: rgba(241, 90, 35, 0.1);
    --material-primary-color-50pct: rgba(241, 90, 35, 0.5);
    --material-primary-color: rgba(241, 90, 35, 1.0);
    --material-primary-contrast-color: #FFF;
    --material-font-family: "Arial Bold", sans-serif;

    --lumo-primary-color-10pct: rgba(241, 90, 35, 0.1);
    --lumo-primary-color-50pct: rgba(241, 90, 35, 0.5);
    --lumo-primary-color: rgba(241, 90, 35, 1.0);
    --lumo-primary-contrast-color: #FFF;
    --lumo-font-family: "Arial Bold", sans-serif;

}

:host,[theme~="dark"] {
    --material-primary-color: rgba(241, 90, 35, 1.0);
}