<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<!--
 * $Id: log4j.xml 40526 2014-11-04 16:19:11Z stewmi $
 * $URL: https://svc-vcs-prd.uk.mizuho-sc.com:18080/svn/architecture/cmi2/trunk/projects/mappingConfigurationUI/conf/log4j.xml $
 *
 * ====================================================================
 *
 * Copyright (c) 2000-2011 by Mizuho International plc.
 * All Rights Reserved.
 *
 * ====================================================================
 *
 * Purpose: This XML document contains Log4j configuration.
 *          For more configuration infromation and examples,
 *          see the Jakarta Log4j owebsite: http://jakarta.apache.org/log4j.
 *
 * Note:  N/A
 *
 * Author:  CMI2 Project Team
 *
 *
-->
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">

  <!--
    ================================================
      A size based file rolling appender

      The following pattern layout is used
        level of the log request
        rightmost components of the logger name
        callers method name
        additional info such as data source name
        message itself
    ================================================
  -->
  <appender name="all" class="org.apache.log4j.RollingFileAppender">
    <param name="File" value="${jboss.server.home.dir}/log/server.log"/>
    <param name="Threshold" value="INFO"/>
    <param name="Append" value="true"/>
    <param name="MaxFileSize" value="2MB"/>
    <param name="MaxBackupIndex" value="20"/>
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{yyyyMMdd HH:mm:ss.SSS} %-5p [%t] %C{1}.%M(): %x %m%n"/>
    </layout>
  </appender>

  <appender name="${module.name}" class="org.apache.log4j.RollingFileAppender">
    <param name="File" value="${jboss.server.home.dir}/log/${module.name}.log"/>
    <param name="Threshold" value="INFO"/>
    <param name="Append" value="true"/>
    <param name="MaxFileSize" value="2MB"/>
    <param name="MaxBackupIndex" value="20"/>
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{yyyyMMdd HH:mm:ss.SSS} %-5p [%t] %C{1}.%M(): %x %m%n"/>
    </layout>
  </appender>

  <!--
    ================================================
      Limit categories
    ================================================
  -->
  <!-- Limit the org.apache category to INFO as its DEBUG is verbose -->
  <category name="org.apache">
    <priority value="INFO"/>
  </category>

  <!-- Limit the org.jgroups category to WARN as its INFO is verbose -->
  <category name="org.jgroups">
    <priority value="WARN"/>
  </category>

  <!-- Limit jboss axis to INFO as its DEBUG is even more verbose -->
  <category name="org.jboss.axis">
    <priority value="INFO"/>
  </category>

  <!-- Limit the JSR77 categories -->
  <category name="org.jboss.management">
    <priority value="INFO"/>
  </category>

  <!-- 07/04/2008 Martijn Verburg - Make hibernate logging only WARN+ -->
  <category name="org.hibernate">
     <priority value="WARN"/>
  </category>

  <category name="org.springframework.transaction">
     <priority value="INFO"/>
  </category>

  <category name="org.jboss.serial">
    <priority value="INFO"/>
  </category>

  <!--
    ================================================
      Setup the Root category
    ================================================
  -->
  <root>
    <!-- set default logging level for all -->
    <!-- <priority value="INFO"/> -->
    <appender-ref ref="${module.name}"/>
    <appender-ref ref="all"/>
  </root>
  
</log4j:configuration>
