<?xml version="1.0" encoding="UTF-8"?>
<!--
 * $Id: module.xml 40552 2014-11-05 17:13:33Z majean $
 * $URL: https://svc-vcs-prd.uk.mizuho-sc.com:18080/svn/architecture/enterpriseServiceBus/trunk/projects/gloss/swiftGateway/conf/module.xml $
 *
 * ====================================================================
 *
 * Copyright (c) 2000-2011 by Mizuho International.
 * All Rights Reserved.
 *
 * ====================================================================
 *
 * Purpose: JBoss module configuration.
 *
 * Note:  N/A
 *
 * Author:  Jeff Mitchell
 *
-->
<module xmlns = "urn:jboss:module:1.1" name = "com.mizuho.mappingConfigurationUI.conf">
    <dependencies>
        <module name = "javax.api"/>
    </dependencies>
    <resources>
        <resource-root path = "."/>
    </resources>
</module>
