@charset "utf-8";
/* CSS Document for Ikasan EIP Console */

/* Make everything have 0 padding and 0 margin by default */
*
{
    margin: 0px;
    padding: 0px;
}

a:link, a:visited, a:hover
{
	text-decoration: none;
	color: #3E3E3E;
}

/* Background colour is Ikasan Grey (#EEEEEE) with font colour defaulting to Ikasan dark grey (#E3E3E3) */
body
{
    background-color: #EEEEEE;
    color: #3E3E3E;
    font-family: "Trebuchet MS";
    font-size: 13px;
}

/* For debug purposes */
.border
{
    border: solid;
    border-width: 1px;
}

/* The overall container div */
#container
{
    margin-left: 25px;
    margin-right: 25px;
    width: 974px;
}

/* The content div */
#content
{
    background-color: #FFFFFF;
    clear: both;
    padding-left: 20px;
    padding-top: 20px;
}

/* The colour of the h1 heading will be #F29400 (Ikasan Orange) */
h1
{
    color: #F29400;
    font-size: 26px;
    font-weight: bold;
}

/* The colour of the h2 heading will be #99141B (Ikasan Maroon) */  
h2
{
    color: #99141B;
    font-size: 18px;
    line-height: 18px;
    font-weight: bold;
    margin-top: 18px;
    padding-left: 20px;    
}

/* The colour of the h3 heading will be #99141B (Ikasan Maroon) */  
h3
{
    color: #99141B;
    font-size: 16px;
    font-weight: bold;
}

/* The header section */
#header
{
	background-repeat: no-repeat;
	/* TODO - Not sure which one of these works as loading of page in Tomcat is a bit weird */
    background-image: url(/images/Banner.png);
    background-image: url(images/Banner.png);
    height: 140px;
    width: 974px;
    margin-top: 20px;
}

/* The header section TODO Image and Height calculation */
#homeLinksTable
{
    width: 300px;
    height: 300px;
    border: none;
}

/* All images will have their borders removed */
img
{
    border: none;
}

#logo
{
    height: 70px;
	padding-left: 20px;
	padding-top: 17px;
    width: 147px;
}

#mainNavigation
{
	padding-left: 20px;
	float: left;
}

#first_menu_item
{
    display: inline;
    padding-right: 10px;
}

.menu_item
{
    display: inline;
    padding-left: 10px;
    padding-right: 10px;
}

#minorNavigation
{
    float: right;
}

/* The navigation section background colour matches the default page background colour */
#navigation
{
    background-color: #EEEEEE;
    height: 30px;
    line-height: 30px;
}

.navigationImage
{
    height: 150px;
    width: 200px;
}

ul
{
	list-style-image: url(images/VerticalLine_Black.png);
    list-style-image: url(/images/VerticalLine_Black.png);
}
