<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style>
        div.container {
            display:inline-block;
        }
    </style>
</head>
<body>

<div class="container">
    <img src="http://localhost:9090/frontend/images/hospital-service.png" height="200px"/>
</div>
<div class="container">
    <img src="http://localhost:9090/frontend/images/ikasan-titling-transparent.png" height="150px"/>
</div>
<p>
    Business Stream: <span th:utext="${businessStreamModel.businessStreamMetaData.name}"></span>
</p>

<p>The following exclusions have been recorded:</p>
<ul th:remove="all-but-first">
    <li th:each="businessStreamExclusion : ${businessStreamModel.businessStreamExclusions}" th:text="${businessStreamExclusion.errorOccurrence.uri}">Reading</li>
</ul>
<p>
    Please log into the Ikasan dashboard to remediate these events.
</p>
<p>
    Regards, <br/>
    <em>The Ikasan Team</em>
</p>
</body>
</html>